<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome View</title>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <div class="table-responsive">
        Welcome...!!!
    </div>
    <br/>

    <a th:href="@{|/api/ProgressResponse-pdf|}"><span>Download Progress Payment PDF </span></a>
    <br/>
    <a th:href="@{|/api/PaymentResponse-pdf|}"><span>Download Payment Response PDF </span></a>
    <br/>
    <a th:href="@{|/api/PaymentClaim-pdf|}"><span>Download Payment Claim PDF </span></a>
    <br/>
    <a th:href="@{|/api/PaymentSummary-pdf|}"><span>Download Payment Summary PDF </span></a>
    <br/>
    <a th:href="@{|/api/Backcharge-pdf|}"><span>Download Payment Backcharge PDF </span></a>
    <br/>
    <a th:href="@{|/api/VariationOrder-pdf|}"><span>Download VariationOrder PDF </span></a>
    <br/>
    <a th:href="@{|/api/PaymentDetail-pdf|}"><span>Download Payment Detail PDF </span></a>
    <br/>







</div>

</body>
</html>