<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <h3 style="text-align: left; ">
        <span th:text="'KIMLY CONSTRUCTION PTE LTD'"></span>
    </h3>
    <h4 style="text-align: centre; ">
        <span th:text="'Payment Response'"></span>
    </h4>
</div>
<div>
    <table style="border: 1px solid black;width: 100%;">
        <tr>
            <td><span  th:text="'Payment Response Reference Number : ' + ${refNumber}"></span></td>
            <td><span  th:text="'Payment Response Date : ' + ${repDate}"></span></td>
        </tr>
    </table>
</div>
<br/>
<div>
    <table style="border: 1px solid black;width: 100%;">
        <tr >
            <td colspan="2" style="border: 1px solid black;"><span th:text="'To : ' + ${recieverEmail}"></span></td></tr>
        <tr >
            <td style="border: 1px solid black; width: 60%">
                <span th:text="'Service Address : ' + ${serviceAdd}"></span>
            </td>
            <td style="border: 1px solid black; width: 40%">
                <table>
                    <tr><td><span th:text="'Tel : ' + ${tel}"></span></td></tr>
                    <tr><td><span th:text="'Fax : ' + ${fax}"></span></td></tr>
                    <tr><td><span th:text="'Email : ' + ${email}"></span></td></tr>
                </table>
            </td>
        </tr>
        <tr ><td colspan="2" style="border: 1px solid black;"><span th:text="'Person-in-charge (Claimant) : ' + ${inCharge}"></span></td></tr>

    </table>
</div>
<br/>
<div>
    <table style="border: 1px solid black;width: 100%;">
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'From : ' + ${sender}"></span></td></tr>
        <tr>
            <td style="border: 1px solid black; width: 60%">
                <span th:text="'Service Address : ' + ${serviceAddSender}"></span>
            </td>
            <td style="border: 1px solid black;width: 40%">
                <table>
                    <tr><td><span th:text="'Tel : ' + ${telSender}"></span></td></tr>
                    <tr><td><span th:text="'Fax : ' + ${faxSender}"></span></td></tr>
                    <tr><td><span th:text="'Email : ' + ${emailSender}"></span></td></tr>
                </table>
            </td>
        </tr>
        <tr ><td colspan="2" style="border: 1px solid black;"><span th:text="'Person-in-charge (Respondent) : ' + ${inChargeSender}"></span></td></tr>
    </table>
</div>

<div>
    <h4 style="text-align: left; ">
        <span th:text="'Particulars of Contract'"> </span></h4>
    <table style="border: 1px solid black; width: 100%;">
        <tr >
            <td>
                <span th:text="'Project Title'"></span>
            </td>
            <td colspan="2">
                <span th:text="${projectTitle}"></span>
            </td>
        </tr>
    </table>
    <table style="border: 1px solid black; width: 100%;">
        <tr>
            <table style="border: 1px solid black; width: 100%;">
            <tr>
                <td><span th:text="'Contract Identification : '"></span></td>
                <td><span th:text="'Reference Period of Claim : ' "></span></td>
            </tr>
                <tr>
                    <td><span th:text="${contractIdentificaiton}"></span></td>
                    <td><span th:text="'From : ' + ${frm} + ' To : ' + ${refClaim}"></span></td>
                </tr>
            </table>
        </tr>
    </table>
</div>

<div>
    <table style="text-align: left;border: 1px solid black;width: 100%;">
        <tr>
            <td style=" width:40%;"><span th:text="'Project Claim Identification :'"></span></td>
            <td style=" width:60%;"><span th:text="${clmIdentify}"></span></td>
        </tr>
        <tr>
            <td style=" width:40%;"><span th:text="'Project Claim Reference Number :'"></span></td>
            <td style=" width:60%;"><span th:text="${clmIdentifyNum}"></span></td>
        </tr>
        <tr>
            <td style=" width:40%;"><span th:text="'Project Claim Date :'"></span></td>
            <td style=" width:60%;"><span th:text="${clmIdentifyDate}"></span></td>
        </tr>
        <tr>
            <td style=" width:40%;"><span th:text="'Project Claim Amount :'"></span></td>
            <td style=" width:60%;"><span th:text="${clmIdentifyAmount}"></span></td>
        </tr>
    </table>

</div>

<div>
    <h4 style="text-align: left; ">
        <span th:text="'Payment Response Details'"> </span></h4>
    <table style="border: 1px solid black;width: 100%;">
        <tr>
            <td style="border: 1px solid black;width:40%;">
                <span th:text="'Description of Item / Variation Reference No.'"></span>
            </td>
            <td style="border: 1px solid black;width:20%;">
                <span th:text="'Amount Claimed for Item (S$)'"></span>
            </td>
            <td style="border: 1px solid black;width:20%;">
                <span th:text="'Response Amount for Item (S$)'"></span>
            </td>
            <td style="border: 1px solid black;width:20%;">
                <span th:text="'Reason for Difference'"></span>
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid black;width:40%;"><span th:text="'A. Sub-Contract Works'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 1,342,930.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 1,091,114.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'Difference in work done'"></span></td>
        </tr>
        <tr >
            <td style="border: 1px solid black;width:40%;"><span th:text="'B. Variation Order'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 200,000.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 169,600.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'Difference in work done'"></span></td>
        </tr>
        <tr >
            <td style="border: 1px solid black;width:40%;"><span th:text="'C. Advance Payment'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
        </tr>
        <tr >
            <td style="border: 1px solid black;width:40%;"><span th:text="'D. Deposit Payment'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'NA'"></span></td>
        </tr>
        <tr >
            <td style="border: 1px solid black;width:40%;"><span th:text="'Sub-Total for Response Amount'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 1,542,930.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"><span th:text="'$ 1,260,714.00'"></span></td>
            <td style="border: 1px solid black;width:20%;"></td>
        </tr>
    </table>
</div>
<div>
    <table style="border: 1px solid black;width: 100%; page-break-before: always;">
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'*Description of item for Amount Withheld, if any'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'Amount Withheld (S$)'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'Reason for Withholding'"></span></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Retention: 10% capped at 5% of Sub-Contract Sum'"></span></td>
            <td style="border: 1px solid black;"><span  th:text="'$ 95,000.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Backcharge (refer attached)'"></span></td>
            <td style="border: 1px solid black;"><span  th:text="'$ 0.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="2" ></td>
            <td ></td>
            <td ></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Sub-Total for Amount Withheld, if any'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'$ 95,000.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="2" ><span th:text="'Less : Amount Previously Paid, if any'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'$ 1,024,000.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Total Response Amount [Excl GST]'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'$ 141,714.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Advance Payment Recovery'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'$ 10,000.00'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'Current 4/4 (last Recovery)'"></span></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid black;"><span th:text="'Net Total Amount [Excl GST]'"></span></td>
            <td style="border: 1px solid black;"><span th:text="'$ 131,714.00'"></span></td>
            <td style="border: 1px solid black;"></td>
        </tr>
        <tr>
            <td colspan="3"><i><span th:text="'* Advance payment $80,000 paid in PR3A to be recovered in 4 equal monthly installment and shall start one month after the resumption of works, i.e. from Sep2020 work done.'"></span></i></td>
        </tr>
    </table>
</div>
<br/>
<div>
    <h5>
        <span th:text="'Name of Respondent / Authorised Representative' "></span>
    </h5>
    <h5>
        <span th:text="'Authorised Signature & ' "></span>
    </h5>
    <h5 >
        <span th:text="'Organization Stamp (if applicable) :'"></span>
    </h5>
    <h5 >
        <span th:text="'Date :  15-01-2021' "></span>
    </h5>

</div>

</body>
</html>